{% extends 'UserApp/index.html' %}
{% load static %}
{% block Content %}

<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
      // ===== Scroll to Top ==== 
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
</script>

<!-- Carousel crossfade -->
<section id="home">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item carousel-item2 active">
          <img src="{% static 'Images/IMG_2669-min.jpg' %}" class="d-block w-100" alt="01">

        </div>
        <div class="carousel-item carousel-item2">
          <img src="{% static 'Images/IMG_2671-min.jpg' %}" class="d-block w-100" alt="02">

        </div>
        <div class="carousel-item carousel-item2">
          <img src="{% static 'Images/IMG_8066-min.JPG' %}" class="d-block w-100" alt="03">

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  <div class="container-fluid card card_main">
    <div class="text-center" style="color: red; margin-top: 15px;">
      <h2>Book your Ganesha Now...</h2>
      <p>Check all available idols clicking below</p>
      <a href="/view_all_idols_list" role="button" class="btn btn-outline-dark px-5">View Our Collection</a>
    </div>
  </div>
</div>

  </div>
</section>
<!-- categories card -->

<section id="categories">

  <div class="container card mt-5 mb-3 heading_bar">
    <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
        <h3 class="mt-4 mb-4" style="text-align: center;"> Explore more</h3>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for cat in cat %}
      <a href="/categories_list/{{cat.id}}">
        <div class="col">
          <div class="card cat_card ">
            <img src="{{cat.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{cat.name}}</h5>
              <p class="card-text">{{cat.description_min}}</p>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Featured collection -->

<section id="featured">
  <div class="container card mt-5 mb-3 heading_bar">
    <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
      <h3 class="mt-4 mb-4" style="text-align: center;"> Featured Collection</h3>
    </div>
  </div>
  <div class="container">
    <div class="row ">
        {% for idol in idol %}
        <div class="col-md-3 detail_card">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/view_idol/{{idol.id}}" class="image">
                        <img class="pic-1" src="{{idol.image1.url}}">
                    </a>
                    <span class="product-sale-label">NEW</span>
                </div>
                <div class="product-content">
                    <h3 class="title">{{idol.model_no}}</h3>
                    <div class="price">{{idol.price}}.00 Rs</div>
                    <div class="product-button-group">
                        <a class="add-to-cart" href="https://wa.me/%2B917798589100?text=Hi.%20I'm%20interested%20in%20this%20Ganesh%20Murti%20--Link:%20www.bappamorayaarts.com/view_idol/{{idol.id}}" target="_blank" rel="noopener"><i class="fa fa-whatsapp"></i>Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>

<!-- Locations -->
<section id="locations">
  <div class="container card mt-2 mb-3 heading_bar">
    <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
        <h3 class="mt-4 mb-4" style="text-align: center;"> Our Locations</h3>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mt-3">722, Ganesh Peth <a href="https://www.google.com/maps?q=18.51214599609375,73.86233520507812&z=17&hl=en" target="_blank"> Get Directions <i class="fas fa-directions"></i></a></p>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.370634562381!2d73.86014651489259!3d18.51214598741387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDMwJzQzLjciTiA3M8KwNTEnNDQuNCJF!5e0!3m2!1sen!2sin!4v1628842898151!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <p class="mt-3">Khadak Police Line, Shukrawar Peth <a href="https://goo.gl/maps/5TE4AKioWi3sm8Z76" target="_blank"> Get Directions <i class="fas fa-directions"></i></a></p>
        <p class="mt-3"></p>
        <div class="ratio ratio-16x9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d945.8617583089953!2d73.85845595073515!3d18.508690232401303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDMwJzMxLjEiTiA3M8KwNTEnMzEuMyJF!5e0!3m2!1sen!2sin!4v1628845710598!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>


<!-- About us -->
<section id="about_us">
  <div class="container card mt-2 mb-3 heading_bar">
    <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
        <h3 class="mt-4 mb-4" style="text-align: center;"> About - us </h3>
    </div>
  </div>

  <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-md-6">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/e4-5s0DwzRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <p class="mt-5 para">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            We, 'Bappa Moraya Arts' started giving a online booking service of ganesh idols(Murti's) from this year via what's app. We are in this buisiness from past few years.</p>
          <p class="mt-5 para ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            if you are looking for the best selection of ganesh idols for ganesh festivals, you can find it on our website, we have a wide range of choices of ganesh idols in our website or you can visit our Store.
          </p>
          <p class="mt-5 para">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Our idols are made from Red Soil, Shadu Mati, Paper pulp and Natural colours. they are completely eco-friendly idols. they are 100% dissolvable in water, and after visarjan soil can be used to plant a tree.</p>
        </div>
      </div>
  </div>
</section>

<!-- Gallery -->
<section id="gallery">
  <div class="container card mt-5 mb-3 heading_bar">
    <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
        <h3 class="mt-4 mb-4" style="text-align: center;"><i class="fas fa-use" style="color: #0d6efd;"></i> Gallery</h3>
    </div>
  </div>
  <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item carousel-item1 active">
          <img src="{% static 'Images/bma_stall-min.jpeg' %}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Bappa Moraya Arts Store No. 2</h5>
            <p>Address: Near Khadak Police Line, Shukrawar Peth</p>
          </div>
        </div>
        <div class="carousel-item carousel-item1">
          <img src="{% static 'Images/gallery1-min.jpeg' %}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>#माझाबाप्पा</h5>
          </div>
        </div>
        <div class="carousel-item carousel-item1">
          <img src="{% static 'Images/gallery2-min.jpeg' %}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>#माझाबाप्पा</h5>
          </div>
        </div>
        <div class="carousel-item carousel-item1">
          <img src="{% static 'Images/gallery3-min.jpeg' %}" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>#माझाबाप्पा</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>


<!-- Contact us -->
<section id="conatact_us">
  <div class="container card mt-5 mb-3 heading_bar">
    <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
      <h3 class="mt-4 mb-4" style="text-align: center;"><i class="far fa-address-car" style="color: #0d6efd;"></i> Contact-us</h3>
    </div>
  </div>
  <div class="container-lg py-4">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <a href="mailto:ashishpote2007@gmail.com">
              <div class="contact-item d-flex">
                <div class="icon fs-4 text-primary">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="text ms-3">
                  <h3 class="fs-5">Email</h3>
                  <p class="text-muted">ashishpote2007@gmail.com</p>
                </div>
              </div>
            </a>
            <a href="tel:7798589100" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">
              <div class="contact-item d-flex mb-3">
                <div class="icon fs-4 text-primary">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="text ms-3">
                  <h3 class="fs-5">Phone</h3>
                  <p class="text-muted">+91-7798589100</p>
                </div>
              </div>
            </a>
            <a href="https://www.google.com/maps?q=18.51214599609375,73.86233520507812&z=17&hl=en" target="_blank">
              <div class="contact-item d-flex mb-3">
                <div class="icon fs-4 text-primary">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="text ms-3">
                  <h3 class="fs-5">Location</h3>
                  <p class="text-muted">Ganesh Peth, Pune, Maharashtra</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="https://www.instagram.com/bappamorayaarts/" target="_blank" >
              <div class="contact-item d-flex mb-3">
                <div class="icon fs-3 text-primary">
                  <i class="fab fa-instagram"></i>
                </div>
                <div class="text ms-3">
                  <h3 class="fs-5">Instagram</h3>
                  <p class="text-muted">bappamorayaarts</p>
                </div>
              </div>
            </a>
            <a href="https://www.facebook.com/watch/ashishpote9100/" target="_blank" >
              <div class="contact-item d-flex mb-3">
                <div class="icon fs-3 text-primary">
                  <i class="fab fa-facebook"></i>
                </div>
                <div class="text ms-3">
                  <h3 class="fs-5">Facebook Page</h3>
                  <p class="text-muted">बाप्पा मोरया आर्टस् पुणे</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="contact-form">
          <p class="mb-3">Send us message: </p>
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6 mb-4">
                <input type="text" name="name" id="name" placeholder="Your Name" class="form-control form-control-lg fs-6 border-0 shadow-sm">
              </div>
              <div class="col-lg-6 mb-4">
                <input type="text" name="email" id="email" placeholder="Your Email" class="form-control form-control-lg fs-6 border-0 shadow-sm">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mb-4">
                <input type="text" name="subject" id="subject" placeholder="Subject..." class="form-control form-control-lg fs-6 border-0 shadow-sm">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mb-4">
                <textarea rows="5" name="message" id="message" placeholder="Enter your message ..." class="form-control form-control-lg fs-6 border-0 shadow-sm"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mb-4">
                <button class="btn btn-primary px-3" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  var nav = document.querySelector('nav');

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 400) {
      nav.classList.remove('navbar-dark');
      nav.classList.add('bg-light', 'navbar-light', 'shadow');
      
    } else {
      nav.classList.remove('bg-light','navbar-light', 'shadow');
      nav.classList.add('navbar-dark');
    }
  });
</script>
{% endblock %}